<div class="loginBg">
  <div class="panel panel-default registerForm">
    <div class="panel-heading">New user registration:</div>
    <div class="panel-body">
      <form class="form-horizontal" id="loginForm">

        <% if (errors) { %>
        <div class="alert alert-danger textCenter" role="alert">
          <% for(var err in errors) { %>
          <div class="message">
            <%= errors[err] %>
          </div>
          <% } %>
        </div>
        <% } %>

        <% if (messages) { %>
        <div class="alert alert-warning textCenter" role="alert">
          <% for(var msg in messages) { %>
          <div class="message">
            <%= messages[msg] %>
          </div>
          <% } %>
        </div>
        <% } %>

        <div class="form-group">

          <div>
			<span>First name</span>
            <input id="firstName" type="text" class="form-control" placeholder="First name"
                   value="<%= firstName %>">
          </div>
        </div>

        <div class="form-group">
			<span>Last name</span>
          <div>
            <input id="lastName" type="text" class="form-control" placeholder="Last name"
                   value="<%= lastName %>">
          </div>
        </div>

        <div class="form-group">
			<span>Email</span>
          <div>
            <input id="email" type="email" class="form-control" placeholder="Email"
                   value="<%= email %>">
          </div>
        </div>

        <div class="form-group">
			<span>Password</span>
          <div>
            <input id="password" type="password" class="form-control"
                   placeholder="Password" value="<%= password %>">
          </div>
        </div>

        <div class="form-group">
			<span>Confirm password</span>
          <div>
            <input id="confirmPassword" type="password" class="form-control"
                   placeholder="Password" value="<%= confirmPassword %>">
          </div>
        </div>

        <div class="form-group captcha">
			<span>Captcha</span>
          <div>
            <div id="captcha"></div>
          </div>
        </div>

        <div class="form-group">
          <div>
            <div class="checkbox">
              <label>
                <input id="iAcceptConditions" type="checkbox" <% if (iAcceptConditions) { %>checked<% } %> >
                <a href="#termsAndConditions" target="_blank">I accept the terms and conditions</a>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="">
                  <a class="btn btn-default" href="#login" role="button">cancel</a>
<button type="submit" class="btn btn-default signUpButton">register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
