<div class="panel panel-default">
    <!--<div class="panel-heading">Billing Info</div>-->
    <div>
        <% if (userPlan) { %>

        <!--<p>-->
            <span>Current plan: </span><%= userPlan.name %><br>
            <span>Number of devices: </span><%= userPlan.metadata.minDevices %> - <%= userPlan.metadata.maxDevices %><br>
            <!--<span> Plan cost per device: </span><%= userPlan.amount/100 %>$<br>-->

        <!--</p>-->

        <!--<p>-->
            <span>Type of subscription: </span><%= user.billings.planPeriod %><br>
            <span># of current subscribed devices: </span><%= user.billings.subscribedDevices %><br>
        <!--</p>-->

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="renewal" <% if(renewal) {%>checked<% } %> > Renewal
                        <button class="btn btn-default" id="saveRenewal">Save</button>
                    </label>
                </div>
            </div>
        </div>

        <% } %>
    </div>
    <div class="panel-body">


        <table class="table">
            <tbody>
            <tr>
                <% _.each(tearsMonth, function(item){%>
                <% if (userPlan) { %>
                    <% if (userPlan.id === item.id) { %>
                        <td class="active">
                    <% } else { %>
                        <td>
                    <% } %>
                <% } else { %>
                <td>
                <% } %>

                    <div class="tariffPlan">
                        <%= item.name %> <!-- - <%= item.amount/100 %>$-->
                    </div>
                    <div class="tariffPlanInfo">
                        <!--<%= item.statement_descriptor %><br>-->
                        MINDER Unit Base<br>
                        Cost by Volume RRP per month<br>
                        $<%= (item.amount/100).toFixed(2) %> Cost<br>
                        for <%= item.metadata.minDevices %> - <%= item.metadata.maxDevices %> devices
                    </div>
                </td>
                <% }) %>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <tbody>
            <tr>
                <% _.each(tearsYear, function(item){%>
                <% if (userPlan) { %>
                <% if (userPlan.id === item.id) { %>
                <td class="active">
                    <% } else { %>
                <td>
                    <% } %>
                    <% } else { %>
                <td>
                    <% } %>

                    <div class="tariffPlan">
                        <%= item.name %> <!-- - <%= item.amount/100 %>$-->
                    </div>
                    <div class="tariffPlanInfo">
                        <!--<%= item.statement_descriptor %><br>-->
                        COST PER YEAR<br>
                        $<%= (item.amount/100).toFixed(2) %> Cost<br>
                        for <%= item.metadata.minDevices %> - <%= item.metadata.maxDevices %> devices
                    </div>
                </td>
                <% }) %>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade container" id="proceedSubscriptionModal" tabindex="-1" role="dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancelSubscription" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Proceed subscription</h5>
            </div>
            <div class="modal-body"  id="modalContent">



            </div>
            <div class="modal-footer">
                <button type="button" class="btn subscribe" id="confirmSubscription">confirm subscription</button>
                <button type="button" class="btn unsubscribe" id="confirmUnSubscribe">unsubscribe</button>
                <!--<button type="button" class="btn cancelSubscription" >Close</button>-->
            </div>
        </div>

</div>

<div class="modal fade" id="waitingModal">
    <div class="modal-body" id="loadimage">
        <img class="img-responsive" src="./images/ajax-loader.gif">
    </div>
</div>

<span>For subscribing/unsubscribing devices press button below:<br> </span>
<button type="button" class="btn btn-success" id="showProceedSubscription">subscribe/unsubscribe</button>
