<div>
    <ul id="modalTabs">
        <li><a class="active" href="javascript:;">Device name</a></li>
        <li><a href="javascript:;">Geo Fence</a></li>
        <li><a href="javascript:;">Photos</a></li>
    </ul>
</div>

<div class="clear"></div>
<div id="modalTabs-items">
    <div class="modalTabs-item openTab">
        <span>Device name:</span>
        <input type="text" id="name" value="<%= model.name %>">
        <button type="button" id="editButton" >Save Name</button>
    </div>

    <div class="modalTabs-item">
        <div id="map_container">     </div>
        <span>Geo fence:</span><br>
        <input id="check_fence" type="checkbox" <% if (model.geoFence.enabled){%>checked<%}%> ><label for="check_fence" >Enable|Disable</label>
        <input id="radius" type="text" value="<%= model.geoFence.radius.toFixed(2)%>" placeholder="Fence radius">
        <input id="setRadius" type="button" value="Set">
        <input id="saveChanges" type="button" value="Save Fence">
    </div>
    <div class="modalTabs-item">
        <div id="photoListContainer">

        </div>
    </div>
</div>

<div class="clear"></div>