<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="pm-text">
        <p>Hi Dear  <b><%=name %></b>!

        <% if (minderId) {%>
            <br>
            Your <span class="il">Minder</span> ID is: <%=minderId %>
            <br><br><br>
        <% } %>

        <br>To set a new MinderWeb password please click on link below<br><a href="<%=url%>" target="_blank">change password</a> <br> <br> <br>If you have received this in error, please delete this email</p>

    </div>
</body>
</html>