<div class="loginBg">
  <div class="panel panel-default forgotForm">
    <div class="panel-heading">Retrieve Password</div>
    <div class="panel-body">
        <form class="form-horizontal" id="sendMailForm">

            <% if (errors) { %>
            <div class="alert alert-danger textCenter" role="alert">
            <% for(var err in errors) { %>
                <div class="message">
                    <%= errors[err] %>
                </div>
                <% } %>
            </div>
            <% } %>

            <% if (messages) { %>
            <div class="alert alert-warning textCenter" role="alert">
            <% for(var msg in messages) { %>
                <div class="message">
                <%= messages[msg] %>
                </div>
            <% } %>
            </div>
            <% } %>

            <div class="form-group" title="Enter your email to receive instructions">
			<span>Enter email and receive instructions:</span>
            <input id="email" type="email" class="form-control" placeholder="Email"
                           value="<%= email %>" name="email">
            </div>
            <div class="form-group">
              <div class="left">
				<a class="btn btn-default" href="#login" role="button">back to login</a>
              </div>
              <div class="right">
				<button type="submit" class="btn btn-default sendMailButton">send me</button>
              </div>
            </div>
        </form>
    </div>

</div>
</div>
