<div class="device <% if (checked) { %>active activeDevice<% } %>">
    <div class="checkbox">
        <label>
            <input class="deviseMainPageCheck customCheckbox" type="checkbox" <% if (checked) { %>checked<% } %> id="device<%= _id%>" >			  <label for="device<%= _id %>"></label>
            <%= name%>
        </label>
        <% if (detail) { %>
        <span class="detailStatus">
            <% if(enabledTrackLocation){ %>
            <span class="active">Active</span>
            <% } else { %>
            <span class="inactive">Inactive</span>
            <% } %>
        </span>
        <% } %>
        <% if(edit) { %>
        <span class="detailButtons">
            <a class="btn btn-default" href="#device/<%= _id %>">edit</a>
        </span>
        <% } %>
        <% if(del) { %>
        <span class="detailButtons">
            <button class="btn btn-default delete" >delete</button>
        </span>
        <% } %>

    </div>
</div>
