<div class="col-md-8">
    <div class="row">
        <% if(!params.modal) { %>
        <form class="form-inline" id="searchForm">
            <div class="checkbox">
                <label>
                    <input id="globalDevicesChecker" type="checkbox" <% if (checked) { %>checked<% } %>>
                </label>
            </div>

            <div class="form-group">
                <label class="sr-only" for="search">Email address</label>
                <input type="text" class="form-control" id="search" placeholder="Search...">
            </div>

            <button type="submit" class="btn btn-default" id="searchButton">search</button>
        </form>
        <% } %>
    </div>
    <div class="row" id="devicesList">
        <table class="table">
            <tbody>
            <% for (i in devices) { %>

                <% if (devices[i].selected) { %>
                    <tr class="active">
                <% } else { %>
                    <% if (devices[i].device.status === "deleted") { %>
                        <tr class="deleted">
                    <% } %>
                    <% if (devices[i].device.status === "subscribed") { %>
                        <tr class="subscribed">
                    <% } %>
                    <% if (devices[i].device.status === "active") { %>
                        <tr class="activate">
                    <% } %>
                <% } %>

                <td>
                    <% if (devices[i].device.status === "deleted") { %>
                        <!--<input disabled type="checkbox" name="device" class="deviceCheckbox" value="<%= devices[i].device._id %>" <% if(devices[i].selected) { %>checked<% } %> >-->
                    <% } else { %>
                        <input type="checkbox" name="device" class="deviceCheckbox" value="<%= devices[i].device._id %>" <% if(devices[i].selected) { %>checked<% } %> >
                    <% } %>
                </td>
                <td><%= devices[i].device.name %></td>
                <td>
                    <% if (devices[i].device.status === "deleted") { %>
                        <button class="btn btn-default setActive" value="<%= devices[i].device._id %>">activate</button>
                    <% } else if (devices[i].device.status === "active") { %>
                        <a class="btn btn-default" href="#device/<%= devices[i].device._id %>">edit</a>
                    <button class="btn btn-default setDelete" value="<%= devices[i].device._id %>">delete</button>
                    <% } else if (devices[i].device.status === "subscribed") { %>
                    <a class="btn btn-default" href="#device/<%= devices[i].device._id %>">edit</a>
                    <button class="btn btn-default setDelete" value="<%= devices[i].device._id %>">delete</button>
                    <% } %>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>


    </div>
    <div class="row" id="bottomMenu">
        <div id="pagination"></div>
        <div class="buttons">
            <button class="btn btn-danger unsubscribe">unsubscribe</button>
        </div>
    </div>

</div>

<% if(!params.modal) { %>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body proceedSubscription">
            <div>
                <b>Plan</b> <br>
                <%= calculations.plan %>
            </div>
            <div>
                <b>Number of devices</b> <br>
                <%= calculations.subscribedDevices %> of <%= calculations.maxDevices %> devices
            </div>
            <div>
                <b>Days left</b> <br>
                <%= calculations.daysLeft %>
            </div>
            <div>
                <b>Total cost</b> <br>
                <%= calculations.costForThisMonth %>$
            </div>
            <div class="form-group">
                <select class="form-control" id="periodSelect">
                    <option value="month">Month</option>
                    <option value="month">Month</option>
                </select>
            </div>

            <button type="button" class="btn btn-success" id="proceedSubscription">
                Proceed subscription
            </button>
            <div>
                <img src="images/credit-card.png" class="col-md-12 logos">
            </div>

        </div>
    </div>
</div>
<% } %>

<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Warning</h3>
            </div>
            <div class="modal-body">
            warning text

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>