<div class="col-md-12">
    <div class="row">
        <% if(!params.modal) { %>
        <form class="form-inline" id="searchForm">
            <div class="checkbox">
                <label>
                    <input id="globalDevicesChecker" type="checkbox" <% if (checked) { %>checked<% } %>>
                </label>
            </div>

            <div class="form-group">
                <label class="sr-only" for="search">Email address</label>
                <input type="text" class="form-control" id="search" placeholder="Search..." value="<%= search %>">
            </div>

            <button type="submit" class="btn btn-default" id="searchButton">search</button>
        </form>
        <% } %>
    </div>
    <div class="row" id="devicesList">

        <table class="table">
            <tbody>
            <% for (i in devices) { %>

                <% if (devices[i].selected) { %>
                    <tr class="active">
                <% } else { %>
                    <% if (devices[i].device.status === "deleted") { %>
                        <tr class="deleted">
                    <% } %>
                    <% if (devices[i].device.status === "subscribed") { %>
                        <tr class="subscribed">
                    <% } %>
                    <% if (devices[i].device.status === "active") { %>
                        <tr class="activate">
                    <% } %>
                <% } %>
                <td><%= devices[i].device.name %></td>
                <td>
                    <% if (devices[i].device.status === "deleted") { %>
                        <button class="btn btn-default setActive" value="<%= devices[i].device._id %>">activate</button>
                    <% } else if (devices[i].device.status === "active") { %>
                        <a class="btn btn-default" href="#device/<%= devices[i].device._id %>">edit</a>
                    <button class="btn btn-default setDelete" value="<%= devices[i].device._id %>">delete</button>
                    <% } else if (devices[i].device.status === "subscribed") { %>
                    <a class="btn btn-default" href="#device/<%= devices[i].device._id %>">edit</a>
                    <button class="btn btn-default setDelete" value="<%= devices[i].device._id %>">delete</button>
                    <% } %>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>

    </div>
    <div class="row" id="bottomMenu">
        <div id="pagination"></div>
        <div class="buttons">
            <button class="btn btn-danger unsubscribe">unsubscribe</button>
        </div>
    </div>

</div>

<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Warning</h3>
            </div>
            <div class="modal-body">
            warning text

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>