<nav class="navBar topMenu">
    <div id="logo">
        logo
    </div>
    <div class="menu">
        <% for (i in top) { %>
        <div class="menuItem topMenuItem">
            <a href="<%= top[i].url %>"><%= top[i].name %></a>
        </div>
        <% } %>
    </div>
    <% for (i in dropDown) { %>
        <div class="dropDown">
            User
            <div class="dropContent">
                <% for (i in dropDown) { %>
                <div class="menuItem topMenuItem">
                    <a href="<%= dropDown[i].url %>"><%= dropDown[i].name %></a>
                </div>
                <% } %>
                <div class="menuItem dropDownMenuItem">
                    <a id="logOut">Log out</a>
                </div>
            </div>
        </div>
    <% } %>
</nav>