<div id="topMenu"></div>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="row" id="mainPageContainer">
    <div class="col-md-3" id="mapLeftPanel">

    </div>
    <div class="col-md-9" id="map">

    </div>
</div>


<!--<div id="popup-holder">-->
<!--<div class="popup"></div>-->
<!--</div>-->
<!--<div id="mainmenu-holder">-->
<!--<nav>-->
<!--<ul></ul>-->
<!--</nav>-->
<!--<div id="loginPanel">-->
<!--<div class="dropdown-button">-->
<!--<img class="iconEmployee" width="26" height="26"/>-->
<!--<span id="userName"></span>-->

<!--<ul id="loginSelect" hidden="true">-->
<!--&lt;!&ndash; <li selected="selected"><a href="javascript:;">.....</a></li>                     Masalovych  comment this line&ndash;&gt;-->
<!--<li id="userpage"><a href="#easyErp/myProfile">My profile</a></li>-->
<!--<li id="logout"><a href="/logout">Logout</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="submenu-holder">-->
<!--<nav></nav>-->

<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--&lt;!&ndash;<div class="content-box">&ndash;&gt;-->
<!--<div id="top-bar"></div>-->
<!--<div id="content-holder"></div>-->
<!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

