<div id="topMenu"></div>

<div class="row" id="mainPageContainer">
    <div class="col-md-3" id="mapLeftPanel">

    </div>
    <div class="col-md-9" id="map">

    </div>
</div>


<!--<div id="popup-holder">-->
<!--<div class="popup"></div>-->
<!--</div>-->
<!--<div id="mainmenu-holder">-->
<!--<nav>-->
<!--<ul></ul>-->
<!--</nav>-->
<!--<div id="loginPanel">-->
<!--<div class="dropdown-button">-->
<!--<img class="iconEmployee" width="26" height="26"/>-->
<!--<span id="userName"></span>-->

<!--<ul id="loginSelect" hidden="true">-->
<!--&lt;!&ndash; <li selected="selected"><a href="javascript:;">.....</a></li>                     Masalovych  comment this line&ndash;&gt;-->
<!--<li id="userpage"><a href="#easyErp/myProfile">My profile</a></li>-->
<!--<li id="logout"><a href="/logout">Logout</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="submenu-holder">-->
<!--<nav></nav>-->

<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--&lt;!&ndash;<div class="content-box">&ndash;&gt;-->
<!--<div id="top-bar"></div>-->
<!--<div id="content-holder"></div>-->
<!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

