
    <div id="mapLeftPanel">
        <div id="mainPageTopControls">
            <form class="form-inline" id="searchForm">
                <div class="checkbox">
                    <label>
                        <input id="globalDevicesChecker" type="checkbox">
                    </label>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="search">Email address</label>
                    <input type="text" class="form-control" id="search" placeholder="Search...">
                </div>

                <button type="submit" class="btn btn-default" id="searchButton">search</button>
            </form>
        </div>
        <div id="devicesMainList">

        </div>
        <div id="mainPageBottomControls">
            <div>
                <button class="btn btn-success" id="mapLocateButton">locate</button>
            </div>
            <div id="pagination">

            </div>
        </div>
    </div>
    <div id="mapConteiner">
        <div id="map">

        </div>
    </div>
