body, html, #wrapper {
  height: 100%;
}

#topMenu {

}

#mainPageContainer {
  height: 100%;
  #map {
    background: #99f;
    height: 100%;
  }
  #mapLeftPanel {
    background: #999;
    height: 100%;
  }
}

.textCenter {
  text-align: center;
}

.contactMap {
  min-height: 300px;
  background: #999;
}