<div class="panel panel-default profileForm">
  <div class="panel-heading">my profile</div>
  <div class="panel-body">
    <form class="form-horizontal" id="profileEditForm">

      <% if (errors) { %>
      <div class="alert alert-danger textCenter" role="alert">
        <% for(var err in errors) { %>
        <div class="message">
          <%= errors[err] %>
        </div>
        <% } %>
      </div>
      <% } %>

      <% if (messages) { %>
      <div class="alert alert-warning textCenter" role="alert">
        <% for(var msg in messages) { %>
        <div class="message">
          <%= messages[msg] %>
        </div>
        <% } %>
      </div>
      <% } %>

      <div class="form-group">
		<span>First name</span>
        <input id="firstName" type="text" class="form-control" id="firstName" placeholder="First name"
               value="<%= firstName %>">
      </div>

      <div class="form-group">
        <span>Last name</span>

        <input id="lastName" type="text" class="form-control" placeholder="Last name"
               value="<%= lastName %>">
      </div>

      <div class="form-group">
        <span>Email</span>
        <input id="email" type="email" class="form-control" placeholder="Email"
               value="<%= email %>">
      </div>

      <div class="form-group">
        <span>Password</span>

        <input id="password" type="password" class="form-control"
               placeholder="Password" value="<%= password %>">
      </div>

      <div class="form-group">
        <span>New password</span>

        <input id="newPassword" type="password" class="form-control"
               placeholder="New password" value="<%= newPassword %>">
      </div>

      <div class="form-group">
        <span>Confirm password</span>
        <input id="confirmPassword" type="password" class="form-control"
               placeholder="Confirm password" value="<%= confirmPassword %>">
      </div>
      <div class="form-group">
		<div class="left">
		  <a class="btn btn-default" href="#main" role="button">Cancel</a>
		</div>
		<div class="right">
          <button type="submit" class="btn btn-default profileFormSubmit" href="#" role="button">Save</button>
		</div>
	  </div>
    </form>
  </div>
</div>
